<IfModule mod_php.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 24M
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # --- EGYEDI DOMAIN SZŰRÉS ---
    # Ha nem a megengedett domaineken érkezik a kérés
    RewriteCond %{HTTP_HOST} !^triemdragonherbs\.hu(:[0-9]+)?$ [NC]
    RewriteCond %{HTTP_HOST} !^www\.triemdragonherbs\.hu(:[0-9]+)?$ [NC]
    RewriteCond %{HTTP_HOST} !^127\.0\.0\.1(:[0-9]+)?$ [NC]
    RewriteCond %{HTTP_HOST} !^localhost(:[0-9]+)?$ [NC]
    # Akkor eldobjuk a kérést egy 403-as hibával
    RewriteRule ^(.*)$ - [R=403,L]

    # Saját hibaoldal tartalom a 403-as kódhoz (linkkel)
    ErrorDocument 403 "<html><body style='text-align:center;font-family:sans-serif;padding-top:50px;'><h2>Ez a tartalom ezen a cimen nem erheto el.</h2><p>Kerjuk, latogasson el a hivatalos oldalunkra:</p><a href='http://triemdragonherbs.hu' style='color:green;font-weight:bold;font-size:1.2rem;'>triemdragonherbs.hu</a></body></html>"
    # --- EGYEDI DOMAIN SZŰRÉS VÉGE ---

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
